<h1>Find me in app/views/hello/about.html.erb</h1>
<h1>Check this out!</h1>
<p>The syntax for generating a controller looks like this:</p>
<code>rails generate controller hello index</code>
<p>Here's a breakdown of the generator syntax.</p>
<ol>
  <li>The command is: <code>rails generate</code></li>
  <li>The first argument is: <code>controller</code>, which specifies code for a controller should be generated.</li>
  <li>The second argument is: <code>hello</code> which specifies that the controller should be called "hello".</li>
  <li>Finally the third argument: <code>index</code> species a request to a view called index bound to the hello controller.</li>
</ol>
